body {
  background: #f7f7f7;
}

header {
  padding: 98px 25px 245px 25px;
}
@media (max-width: 700px) {
  header {
    padding: 25px 0 195px 0;
  }
}
header .logo {
  float: left;
  max-width: 297px;
  width: 100%;
  height: auto;
}
header nav {
  float: right;
}
@media (max-width: 880px) {
  header nav {
    clear: both;
    float: none;
  }
}
@media (max-width: 880px) {
  header nav ul {
    padding: 25px 0 0 0;
  }
}
header nav ul li {
  float: left;
  list-style: none;
  line-height: 0;
  margin: 0 25px;
}
@media (max-width: 880px) {
  header nav ul li {
    margin: 0 5px;
  }
}

header nav ul li a {
  padding: 0 0;
  font-size: 27px;
  text-decoration: none;
  line-height: 16px;
  color: black;
  font-family: "antique-olive-light", "system-ui-light", sans-serif;
}

@media (max-width: 700px) {
  header nav ul li a {
    font-size: 1.025em;
  }
}

div#content {
  background-color: #fff;
}

header nav a:hover {
  color: #000;
}

header nav a.here {
  text-decoration: underline;
}

header nav li {
  transform: translateY(100%);
}
